node_modules
**/node_modules

# Build outputs
.dist
output
.output
dist

# Vite/TanStack caches
.vite
.tanstack

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
*.log

# OS / editor
.DS_Store
.idea
.vscode

# VCS
.git
.gitignore

# Env
.env
.env.*

# Tests / misc
coverage
*.swp
*.swo
